<div class="infromini-credit">
  <div>
    <%= image_tag("onshor_logo.png",
                    :alt => "Onshor | Transparency & Accountability") %>
  </div>
  <div>
    <%= image_tag("fsvc_logo.png",
                    :alt => "Financial Services Volunteer Corps (FSVC)") %>
  </div>
  <div>
    <%= image_tag("atcp_logo.png",
                    :alt => "Association Tunisienne Des Controleurs Publics (ATCP)") %>
  </div>
</div>